
*{
    margin:0px;
    padding:0px;
}
.head_box{
    height:150px;
    text-align:center;
    background-color:rgb(8, 39, 8);
}
.head_box h1{
    color:white;
    font-size:30px;
    font-style:italic;
}
.navbar{
    height:20px;
    background-color:rgb(113, 179, 16);
    margin-top:80px;
    display:flex;
}
.navbar a{
    font-size:2rem;
    font-style:none;
    text-decoration:none;
    color:rgb(13, 27, 13);
    
}